@import url(https://fonts.googleapis.com/css?family=Pinyon+Script);
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Merriweather);

@dark: #000000;
@light: #393939;
@lighter: #898989;

body {
  background-image: url('/res/seamless_paper_texture.png');
  overflow-x: hidden;
}

h1 {
  font-family: 'Lato';
  font-weight: 300;
  font-size: 36px;
}

h2 {
  font-family: 'Lato';
  font-weight: 300;
  font-size: 24px;
  @media screen and (max-width: 800px) {
    font-size: 20px;
  }
}

h3 {
  font-family: 'Lato';
  font-weight: 300;
  font-style: italic;
  font-size: 24px;
}

hr {
  border-color: @lighter;

  &.dashed {
    border-style: dashed;
  }

}


.side-nav-wrapper {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;

  @media screen and (max-width: 800px) {
    transition: left .4s ease;
    left: -150px;

    &.open {
      left: 0px;
    }
  }

  background-image: url('/res/seamless_paper_texture.png');

  width: 150px;
  height: 100vh;

  border-right: 1px dashed @light;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-family: 'Lato';
    font-weight: 100;
    @media screen and (max-width: 800px) {
      font-weight: 300;
    }
    font-size: 24px;
    padding: 0px;
    height: 100vh
  }

  a {
    color: @dark;
    &:hover {
      text-decoration: none;
      border-bottom: 2px solid @light;
    }
  }
}

.nav-button {
  z-index: 9999;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  bottom: 15px;
  right: 15px;
  font-size: 24px;
  border-radius: 100%;
  background-color: rgba(0,0,0,.5);
  color: white;

  width: 50px;
  height: 50px;

  @media screen and (min-width: 800px) {
    display: none;
  }

}


.content {
  margin-left: 150px;

  @media screen and (max-width: 800px) {
    margin-left: 0;
  }

}


.bio-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bio-img {
  background-image: url('/res/rebecca.jpg');
  background-size: cover;
  background-position: center center;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  overflow: hidden;
  margin-top: 30px;
}

.col {
  padding-left: 45px;
  padding-right: 45px;
}

.big-read {
  font-family: 'Merriweather';
  font-size: 18px;
  line-height: 30px;
}

.header {
  margin-top: 15px;
  .clean {
    font-family: 'Lato';
    font-weight: 100;
    font-size: 32px;
    letter-spacing: 19px;
  }

  .cursive {
    font-family: 'Pinyon Script';
    font-size: 72px;
  }

  @media screen and (max-width: 450px) {
    .clean {
      white-space: nowrap;
      font-size: 18px;
      letter-spacing: 18px;
      font-weight: 300;
    }
    .cursive {
      white-space: nowrap;
      font-size: 56px;
    }
  }


}

// .price {
//   font-family: 'Lato';
//   font-weight: 300;
//   font-size: 16px;
//   display: flex;
//   justify-content: space-between;
// }

ul.price {
  max-width: 40em;
  padding: 0;
  overflow-x: hidden;
  list-style: none;

  li:before {
    float: left;
    width: 0;
    white-space: nowrap;
    content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
  }

  span:first-child {
    padding-right: 0.33em;
    background-image: url('/res/seamless_paper_texture.png');
  }

  span + span {
    float: right;
    padding-left: 0.33em;
    background-image: url('/res/seamless_paper_texture.png');
  }
}

.testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .testimonial-wrapper {
    padding: 30px;
  }

  .testimonial {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 30px;

    border: 1px dashed @lighter;
  }

  .quote {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 300;
    font-size: 18;

    &:before, &:after {
      content: '"'
    }
  }

  .author {
    position: absolute;
    bottom: -12px;
    right: 10px;
    padding-right: 10px;
    padding-left: 10px;

    font-family: 'Lato';
    font-weight: 300;
    font-size: 18px;
    background-image: url('/res/seamless_paper_texture.png');
  }
}

.gallery {
  background-color: rgba(0,0,0,.25);

  .gallery-nav {
    display: flex;

    margin-bottom: 0;

    list-style: none;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 20px;

    @media screen and (max-width: 600px) {
      font-size: 16px;
    }

    li {
      margin: 15px;
      margin-left: 0;

      span {
        cursor: pointer;
      }

      &:hover, &.selected {
        span {
          border-bottom: 2px solid @light;
        }
      }

    }

  }

  .portraits-wrapper {
    overflow-y: scroll;
  }

  .portraits {
    display: flex;
    height: 300px;
    .portrait {
      height: 100%;
      flex: 0 0 auto;
      img {
        height: 100%;
      }
    }

  }

}
