@import url(https://fonts.googleapis.com/css?family=Pinyon+Script);
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Merriweather);

@dark: #000000;
@light: #393939;
@lighter: #898989;

body {
  background-image: url('/res/seamless_paper_texture.png');
}

h1 {
  font-family: 'Lato';
  font-weight: 300;
  font-size: 36px;
}

h3 {
  font-family: 'Lato';
  font-weight: 300;
  font-style: italic;
  font-size: 24px;
}

hr {
  border-color: @lighter;
}

.col {
  padding-left: 45px;
  padding-right: 45px;
}

.big-read {
  font-family: 'Merriweather';
  font-size: 18px;
  line-height: 30px;
}

.header {
  .clean {
    font-family: 'Lato';
    font-weight: 100;
    font-size: 32px;
    letter-spacing: 19px;
  }

  .cursive {
    font-family: 'Pinyon Script';
    font-size: 72px;
  }
}

.price {
  font-family: 'Lato';
  font-weight: 300;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}
